.scrollContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
  background-color: rgba(44, 44, 44, 0.7);
  text-align: center;
}

.tabHeader {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 16px;
  padding-top: 10px;
  font-size: 16px;
  align-items: left;
}

.tabButton {
  font-size: 30px;
  padding: 16px 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: #000000;
}

.tab.active {
  border-bottom: 2px solid #8b3dff;
}

.content {
  padding: 20px;
}

.notesList, .noteDetails {
  display: flex;
  flex-direction: column;
}

.hookItem, .toolItem, .yarnItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #8b3dff;
  margin: 4px 0;
  border-radius: 4px;
  background-color:#F1EBF7 ;
  font-size: 12px;
}

.stepItem {
  display: flex;
  flex-direction: row;
 
  border: 1px solid #8b3dff;
  border-radius: 4px;
  background-color: #F1EBF7;
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 12px;
}


.noteTitle {
  flex: 1;
  cursor: pointer;
  font-size: 16px;
}

h4 {
  margin-top: 10px; /* Reduced from 20px */
  margin-bottom: 4px; /* Reduced from default */
  align-content: space-between;
  font-size: 14px; /* Adjusting the font size */
}

button, .button, .textInput, .select {
  background-color:#8b3dff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 4px 0;
}

.noteItem
{
  border: none;
  border-radius: 7px;
  
  cursor: pointer;
  

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #8b3dff;
  margin: 3px 0;
  
  background-color:#F1EBF7 ;
  font-size: 5px;
  padding-left: 12px;

}

button:hover, .button:hover {
  background-color: #8b3dff;
}

.textInput, .select {
  width: 100%;
  box-sizing: border-box;
}

.textInput {
  padding: 8px;
  margin-bottom: 8px;
}

select {
  padding: 2px;
  margin-bottom: 2px;
}

.checkbox {
  margin-right: 8px;
}

button.secondary, .button.secondary {
  background-color: #F1EBF7;
  height: 5px;
}

button.secondary:hover, .button.secondary:hover {
  background-color: #F1EBF7;
}

.linksContainer {
  display: flex;
  flex-direction: column;
}

.linkBox {
  
  border: 1px solid #8b3dff;
  border-radius: 4px;
  background-color: #F1EBF7;
}

.linkBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border: 1px solid #8b3dff;
  
  border-radius: 4px;
  background-color: #F1EBF7;
  font-size: 10px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-bottom: 5px;
}

.imageWrapper[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F1EBF7;
  color: #000000;
  padding: 5px 10px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 1000;
}

.imageWrapper[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #8b3dff transparent;
  z-index: 1000;
}

.iconButton {
  font-size: 20px;
  padding: 2px;
  cursor: pointer;
  background-color: #F1EBF7;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.iconButton:hover {
  background-color: #F1EBF7;
}

.iconPlus {
  font-size: 20px;
  padding: 2px;
  cursor: pointer;
  background-color: #F1EBF7;
  color: #000000;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  margin-left: 30px;
}

.reminderContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #8b3dff;
  border-radius: 4px;
  background-color: #8b3dff;
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 18px;
}

.reminderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reminderTextContainer {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.reminderActions {
  display: flex;
  align-items: center;
}

.footnote {
  font-size: 12px;
  color: #616161;
  text-align: left;
  margin-top: 8px;
}

.linkBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding:5px;
  padding-right: 5px;
 
  border: 1px solid #8b3dff;
  border-radius: 6px;
  width: 95%;
  border: none;
  border-radius: 6px;
  
  cursor: pointer;
  margin: 4px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #8b3dff;
 
  
  background-color:#F1EBF7 ;
  
  
}

.linkBox a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.linkBox a:hover {
  text-decoration: underline;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageWrapper {
  position: relative;
  cursor: pointer;
}

.imageWrapper[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-40%);
  background-color: #F1EBF7;
  color: #000000;
  padding: 5px 10px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 1000;
}

.imageWrapper[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  z-index: 1000;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.section {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px; /* Reduced the spacing */
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.hookInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px; /* Reduced the spacing */
}

.noteText {
  flex: 1;
  word-break: break-word;
}

.actions {
  display: flex;
  gap: 10px;
}

.noteText, .subItemText {
  flex-grow: 1;
}

.subItemContainer {
   /* Shift the sub-items to the right */
  margin-top: 20px;
}

.subItem {
  margin-left: 16px; /* Further indent each sub-item */
}

.subItemContainer {
  margin-top: 10px;
}

.subItem {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures that the content and icons are spaced correctly */
  margin-bottom: 5px;
  border: 1px solid #8b3dff;
  background-color: #F1EBF7;
  color: #000000;
}

.subItemContent {
  display: flex;
  align-items: center;
}

.subItemText {
  margin-left: 8px; /* Add space between the checkbox and the text */
  
}

.actions {
  display: flex;
  align-items: center;
}

.iconButton {
  margin-left: 8px; /* Space between the icons */
  cursor: pointer;
}

.toolInputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between TextInput and Button */
}

.textInput {
  flex: 1; /* Make the TextInput take available space */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

